*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}
body {
  background-color: #760ac4;
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  user-select: none;
  justify-content: right !important;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  flex-direction: column;
}
main {
  order: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2a0652, #00000000);
  border-radius: 5px;
}
#display {
  background-color: #000;
  border-radius: 0 0 5px 0;
  align-items: flex-end;
  overflow: hidden;
  width: 33%;
  height: 100%;
}
#display input {
  flex: 2;
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  font-weight: bolder;
  border: none;
  text-align: right;
  color: #fff;
  font-size: 55px;
  padding-right: 20px;
  transition: 0.3s;
}
#display input.active {
  flex: 1;
  color: #ffffff60;
  font-size: 23px;
}
#display b {
  flex: 1;
  color: #ffffff60;
  font-size: 35px;
  margin-right: 0px;
  transition: 0.3s;
  padding: 0 10px;
}
#display b sup {
  font-size: 50%;
}
#display b.active {
  font-size: 60px;
  color: blue;
  margin-right: 10px;
}
#display div {
  color: #ffffff91;
  font-size: 14px;
  width: 100%;
}
#display div h6 {
  font-weight: bolder;
  font-size: 12px;
  color: #9a9a9a;
  padding: 0 5px 3px 5px;
  margin-left: 15px;
  margin-bottom: 4px;
  border-bottom: 2px dashed indigo;
  display: inline-block;
}
#display div ul {
  padding: 0 5px;
  height: 140px;
}
#display div ul li {
  position: relative;
  overflow: hidden;
  background-color: #ffffff00;
  visibility: visible;
  padding: 0 10px;
  height: 60px;
  width: 100%;
  align-items: flex-start !important;
  margin-bottom: 10p x;
  transform: scale(1, 1);
  transition: 0.4s;
}
#display div ul li.active {
  height: 0px;
  visibility: hidden;
  transform: scale(0.7, 0.7);
  animation: added 0.3s ease forwards;
}
#display div ul li:hover {
  background-color: #ffffff09;
}
#display div ul li span {
  flex: 1;
}
#display div ul li span:nth-of-type(2) {
  text-align: right;
  font-weight: bolder;
  width: 100%;
  color: blue;
  font-size: 20px;
}
#buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  flex: 1;
  height: 100%;
  padding: 15px 25px;
}
#buttons button {
  font-family: inherit;
  font-size: 4.2vh;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 0 0 5px 5px #00000056;
  background-color: #ffffffbf;
  color: #05135f;
  transition: 0.3s;
  border-radius: 10px;
}
#buttons button:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 0px 0px 0px #00000056;
}
#buttons button.num {
  background-color: #000000ad;
  color: #fff;
}
#buttons button span {
  position: absolute;
}

@keyframes added {
  from {
    height: 0px;
  }
  to {
    height: 60px;
  }
}

@media (max-width: 576px) {
  main {
    flex-direction: column;
  }
  #display {
    width: 100%;
    height: 40%;
  }
  #buttons {
    width: 100%;
    gap: 0.5rem;
    padding: 10px 10px;
  }
  #buttons button {
    border-radius: 5px;
    font-size: 2vh;
  }
  #buttons button:hover {
    transform: none;
    box-shadow: none;
  }
  #buttons button:active {
    transform: scale(0.9, 0.9);
    box-shadow: 0px 0px 0px #00000056;
  }
  #display div {
    display: none;
  }
}
